<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
    <div class="col-8 offset-2" >
        <br><br>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate  class="row g-3 needs-validation" enctype="multipart/form-data">
                <h3>Edit the list</h3>

                <div class="col-12">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" id="title" required>
                    <div class="invalid-feedback">
                        Please provide Title.
                      </div>
                      <div class="valid-feedback">
                        Looks Good!.
                      </div>
                </div>

                <div class="col-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" id="description" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Please provide Description.
                      </div>
                      <div class="valid-feedback">
                        Looks Good!.
                      </div>
                </div>
                <div class="mb-1 ">
                  The Original Image : <br>
                  <img src="<%=OriginalImage%>" width="300px" height="200px" srcset="">
                </div>
                <div class="col-12">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image]"  type="file" class="form-control" id="image" >
                </div>

                <div class="col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  name="listing[price]"value="<%=listing.price%>" type="number" class="form-control" id="price" required>
                    <div class="invalid-feedback">
                        Please provide Price.
                      </div>
                      <div class="valid-feedback">
                        Looks Good!.
                      </div>
                </div>

                <div class="col-md-8">
                    <label for=country class="form-label">Country</label>
                    <input  name="listing[country]" value="<%=listing.country%>" type="text" class="form-control" id="country" required>
                    <div class="invalid-feedback">
                        Please provide Country.
                      </div>
                      <div class="valid-feedback">
                        Looks Good!.
                      </div>
                </div>

                <div class="col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input  name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" id="location" required>
                    <div class="invalid-feedback">
                        Please provide Location.
                      </div>
                      <div class="valid-feedback">
                        Looks Good!.
                      </div>
                </div>

                <div class="col-md-4">
                  <label for="dropdown">Category :</label>
                  <select class="form-control" name="listing[category]"  id="dropdown"
                  required>
                  <option value="<%=listing.category%>"><%=listing.category%></option>
                      <option value="Trending">Trending</option>
                      <option value="Farm">Farm</option>
                      <option value="Rooms">Rooms</option>
                      <option value="Castel">Castel</option>
                      <option value="Iconic City">Rooms</option>
                      <option value="Mountain View">Mountain View</option>
                      <option value="Beach">Beach</option>
                      <option value="Cabins">Cabins</option>
                      <option value="Camping">Camping</option>
                      <option value="Glofing">Glofing</option>
                      <option value="Island">Island</option>
                  </select>
  
              <div class="invalid-feedback">
                  Please provide category.
                </div>
          </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary add-btn">Update</button>
                </div>

            </form>
            <br><br>
    </div>
    </div>
    
</body>