<% layout('/layouts/boilerplate') -%>


<body>
    <script>
        const MAP_API_KEY = "<%=process.env.MAP_API_KEY%>";
        const listing = <%- JSON.stringify(listing)%>;
    </script>
    <!-- Map Here -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="/js/map.js"></script>


    <br><br>
    <div class="row">

        <div class="col-md-8 col-sm-12 offset-sm-2 responsive-form" >

            <h3><%=listing.title%></h3>

            <div class="card show-card listing-card " >
                <img src="<%=listing.image.url%>" class="card-img-top" alt=".." style="height: 300px;">
                

                <div class="card-body">
                    <p class="card-text">Created By :<i><%=listing.owner.username%> </i></p>
                    <p class="card-text"> <%=listing.description%> </p>

                    <p class="card-text">  &#8377; <%=listing.price.toLocaleString('en-in')%> </p>

                    <p class="card-text">  <%=listing.location%></p>

                    <p class="card-text">  <%=listing.country%> </p>

                </div>
            
            <% if(currUser && currUser._id.equals(listing.owner._id)) { %>

            <div class="show-btns">
                <div class="col-md-2">
                    <a href="/listings/<%= listing._id %>/edit">
                    <button type="submit" class="btn btn-primary add-btn">Edit</button></a>
                </div>

                <div class="col-md-12">
                    <form method="POST" action="/listings/<%= listing._id%>?_method=Delete" >
                           <button type="submit" class="btn btn-dark ">Delete</button>
                    </form>
                </div>

            </div>
            <%}%>
                </div>
                <hr>

        </div>

        
        <div class="col-md-8 col-sm-12 offset-sm-2 responsive-form">
        <%if(currUser) {%>
            <h4><b>Leave An Review</b></h4>

            <form action="/listings/<%=listing.id%>/review" method="POST" novalidate class="mb-3 mt-3 needs-validation">

                <div class="mb-3 mt-3">
                    

                <fieldset class="starability-slot form-range">
                    <legend>Rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
            </div>


                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" placeholder="Leave Comment Here.....!" required></textarea>
                    <div class="invalid-feedback">
                        Please add comment.
                    </div>
                </div>

                <button class="btn btn-outline-dark mb-3 mt-3">Add Review</button>
            </form>
            <%}%>
            
            <%if(listing.reviews.length){%>
                <hr>
            <h4><b>All Reviews</b></h4>
            <div class="row">
                <% for (review of listing.reviews) { %>
                    <div class="card col-sm-12 col-md-5 mt-3 mb-3 ms-md-3 mb-md-3 pb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%=review.author.username%></h5>
                            <p class="card-text"><%=review.comment%></p>
                            <p class="card-text"><%=review.rating%></p>
                            <p class="starability-result star-p card-text" data-rating="<%=review.rating%>"></p>
                        </div>

                        <% if(currUser && currUser._id.equals(review.author._id)) { %>
                         <form action="/listings/<%=listing.id%>/review/<%=review.id%>?_method=Delete" method="POST">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>

                        <%}%>

                    </div>
                <%}%>
                <hr>
            </div>

            <%}%>         
        </div>

        <!-- Maps are here -->
        <div class="col-md-8 col-sm-12 offset-sm-2 responsive-form">

            <div id="map"></div>

            <!-- prettier-ignore -->
           

        </div>


    </div>
   <br><br>

</body>

<!-- Gmap Js -->

<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: MAP_API_KEY, v: "weekly"});</script>